.MuiCard-root {
  background-color: black;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 0.5em;
}
.input{
  padding: 0.5em;
  height: 2.5em;
  border-redius: 1em;
}
.btn {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 1px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: all 0.25s ease-in;
  color: white;
}
.btn:hover {
  /* border: 5px solid #4568dc; */
  background-image: linear-gradient(45deg, #b06ab3, #4568dc);
}
